{% extends 'base.html' %}

<!--
{% load custom_tags %}
-->

{% block title %}Vote{% endblock %}

{% block content %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


 <h1>{{pollName}}</h1> 

<form action="submit/{{maxLength}}" method="post">{% csrf_token %}


{% for Question in questions %}

    <h2>{{Question.name}}</h2>

{% if Question.questionType == "MC" %} 
    <div class="multiple-choice">
    {% for x in Question.choices %}
        <label class="container">{{x}}
        <input class="mc-question" type="radio" name="{{Question.id}}" value="{{x}}" /><br>
        <span class="mc-question"></span>
        </label>
    {% endfor %}
    </div>

{% else %}  

    <script type="text/javascript">
    $(document).ready(function () {
       $("input[name='{{Question.id}}']").change(function () {
          var maxAllowed = {{Question.choicesAccepted}};
          var cnt = $("input[name='{{Question.id}}']:checked").length;
          if (cnt > maxAllowed) 
          {
             $(this).prop("checked", "");
             alert('Select maximum ' + maxAllowed + ' people!');
         }
      });
    });
    </script>
    
    <p>Select {{Question.choicesAccepted}} choices.</p>
    
    <div class="check-box">
    {% for x in Question.choices %}
        <label class="container">{{x}}
        <input class="checkmark" type="checkbox" name="{{Question.id}}" value="{{x}}">
        <span class="checkmark"></span>
        </label>
    {% endfor %}

    </div>
{% endif %}

<br>

{% endfor %}


<input type="submit">
    </form>


{% endblock %}