{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>


 <h1>Active Elections:</h1> {% for Poll in polls %}
        <h2><a href="/poll/{{Poll.id}}/">{{ Poll.name }}</a> - Ends {{ Poll.endTime }}</h2>
            <p>
                {{Poll.description}}    
            </p>
            


        {% endfor %}



{% else %}
    <p>You must login to view this page.</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}