<html>

{% load static %}
    <link rel="stylesheet" href="{% static 'voting/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
    
    <br>
    <br>
    <br>
    <br>
    <p>If you have trouble logging in, make sure you do not have a space after your GTID in your username. Also ensure your last name matches the spelling and case as shown on your school Google account. If you have tried multiple combinations and still cannot log in, email Tyler Schott at schott.tyler@lumpkinschools.com.</p>
{% endblock %}
    
    </html>